* {
  margin: 0;
  padding: 0;
}

body {
  background: F6F6FA;
  padding: 40px 60px;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.my-content {
  padding-left: 88px;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.my-info {
  margin-bottom: 40px;
}


/* .lang-switch {
  position: fixed;
  top: 12px;
  right: 16px;
  z-index: 1000;
} */

.lang-switch select {
  font-family: "Montserrat", sans-serif;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
}

.my-profesion {
  font-weight: 700;
  font-size: 14px;
  line-height: 121%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 122%;
  color: #000;
  margin-bottom: 12px;
  margin-top: 0;
}

.my-bio {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}


.my-projects {
  margin-bottom: 40px;
}

.projects {
  font-weight: 700;
  font-size: 22px;
  line-height: 123%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-projects-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #000;
}

.pojects-list {
  padding-left: 16px;
}

.my-projects-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #005fff;
}

.my-projects-item-tech {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

.work-experience {
  margin-bottom: 12px;
}

.work-experience-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 123%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.company-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #6d9bf5;
}

.job {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.job-data {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.location {
  color: #000;
}

.job-list {
  padding-left: 28px;
  margin-top: 0;
}

.job-list-dub {
  margin-left: -24px;
}

.job-posicion {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
}

.company-1 {
  margin-bottom: 12px;
}

.company-2 {
  margin-bottom: 12px;
}

.company-3 {
  margin-bottom: 40px;
}


.edukation-title {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.schol-name {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-top: 0;
  margin-bottom: 8px;
}

.name-profession {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.studi-data {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
  margin-top: 0;
  margin-bottom: 40px;
}

.sidebar {
  background: #d1e09660;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 370px;
}

.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

.contacts-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.conts-typ {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-linl {
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
}

.skills-list-dubl {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-left: -24px;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 4px;
}

.contacts-contaner {
  margin-bottom: 40px;
}

.t-skills {
  margin-bottom: 40px;
}

.skills-titke {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list {
  padding-left: 16px;
}

.skills-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.s-skills {
  margin-bottom: 40px;
}


.back-btn {
  margin: 20px;
}

.back-btn a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

.back-btn a:hover {
  text-decoration: underline;
}